<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://10.83.32.193:3306/burning?useUniCode=yes&characterEncoding=UTF-8&serverTimezone=Asia/Seoul"/>-->
<!--                <property name="username" value="$ssafy"/>-->
<!--                <property name="password" value="$ssafy"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--        <mapper resource="mapper/room.xml"/>-->
<!--    </mappers>-->
<!--</configuration>-->


<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/room.xml"/>
    </mappers>
</configuration>
